package layouts

type BaseHTMLProps struct {
	Head templ.Component
}

templ BaseHTML(props BaseHTMLProps) {
	<html>
		<head>
			<script src="/assets/js/htmx.min.js"></script>
			<script src="/assets/js/alpine.min.js"></script>
			<link rel="stylesheet" href="/assets/css/out.css"/>
			@props.Head
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
