package layouts

import "github.com/F-orge/logistics-management-system/web/plugins"
import "github.com/labstack/echo/v4"

type DashboardLayoutProps struct {
	Navigations []plugins.PluginPage
	Page        plugins.PluginPage
}

templ DashboardSidebar() {
}

templ DashboardLayout(c echo.Context, props DashboardLayoutProps) {
	<main>
		<aside></aside>
		<div>
			@props.Page.Page(c)
		</div>
	</main>
}
