<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/out.css" />
    <script src="/assets/js/alpine.min.js"></script>
    <script src="/assets/js/htmx.min.js"></script>
    {% block header %}
      <title>Authentication | Login</title>
      <meta name="description" content="Authentication login">
      <meta name="keywords" content="auth,login,register">
    {% endblock header %}
  </head>
  <body>
    {% block body %}
    {% endblock body %}
  </body>
</html>
