package humanresource

import "github.com/labstack/echo/v4"

type OverviewPage struct{}

func (o OverviewPage) Path() string {
	return "/"
}

func (o OverviewPage) Actions(group echo.Group) {
	// actions here
}

templ (o OverviewPage) Page(c echo.Context) {
	<div>Overview page</div>
}
