<div>
  <div>
    <span>Icon</span>
    <h4>Heading</h4>
  </div>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus quo quis voluptate, maiores pariatur porro aut modi? Ea ipsa dolores nihil aliquid facilis, quia quo!
  </p>
</div>
