{% extends "partials/base.html.jinja" %}
{% block body %}
  <main class="h-full flex flex-col justify-center items-center">
    <h1>Reset password</h1>
    <span class="text-base-content/80 text-sm">We’ll send you a link to reset your password.</span>
    <form class="flex flex-col items-center justify-center gap-2.5" method="post" action="">
      <div class="w-96">
        <label class="label label-text">Email</label>
        <input type="email" name="email" class="input peer" />
        <span class="label">
          <span class="label-text-alt">Enter your email address</span>
        </span>
      </div>
      <button class="btn btn-primary w-full" type="submit">Reset</button>
      <a class="hover:underline text-base-content/80 text-sm" href='{{ "/login" }}'>You didn’t forget your password? Log in</a>
    </form>
  </main>
{% endblock body %}
