{% extends "partials/base.html.jinja" %}
{% block body %}
  <main class="h-full flex flex-col justify-center items-center">
    <h1>Reset password</h1>
    <span class="text-base-content/80 text-sm">Reset your password account</span>
    <form class="flex flex-col justify-center items-center gap-2.5" action="" method="post">
      <div class="w-96">
        <label class="label label-text">New Password</label>
        <input type="password" name="password" class="input peer" />
        <span class="label">
          <span class="label-text-alt">Enter your new password</span>
        </span>
      </div>
      <div class="w-96">
        <label class="label label-text">Confirm New Password</label>
        <input type="password" name="confirm_password" class="input peer" />
        <span class="label">
          <span class="label-text-alt">Confirm your new password</span>
        </span>
      </div>
      <button class="btn btn-primary w-full" type="submit">Reset</button>
    </form>
  </main>
{% endblock body %}
