package authentication

import "github.com/labstack/echo/v4"

type LoginPage struct{}

func (l LoginPage) Path() string {
	return "/login"
}

func (l LoginPage) Actions(group echo.Group) {

}

templ (l LoginPage) Page(c echo.Context) {
	<div>hello login</div>
}
