<section class="pb-24 grid grid-cols-12 gap-5">
  <h2 class="text-3xl divider divider-start col-span-12">Our Address</h2>
  <p class="col-span-full md:col-span-6">Block 1 Lot 15 Kaymito Street, Quirino Highway Brgy 179 Caloocan City</p>
  <iframe class="rounded-md col-span-full md:col-span-6 w-full h-64"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30866.18809540766!2d121.04868292808534!3d14.75361458133143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3397bbbd7b56cc9b%3A0x4da80215357fbf67!2sETMAR%20INTERNATIONAL%20LOGISTICS%20CORPORATION!5e0!3m2!1sen!2sph!4v1741014930685!5m2!1sen!2sph"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
