<section class="flex flex-col gap-5">
  <div>
    <h2 class="text-3xl divider divider-start">Our approach</h2>
    <p class="w-full md:w-3/4">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, dignissimos rem voluptatem facilis vitae ut dolores officiis, quam ratione consequatur qui neque illum corrupti eius provident repellat! Ea maxime atque accusantium dolor dolorem quidem voluptates, quo quam inventore! Error, impedit maxime deleniti soluta nemo deserunt placeat harum eius commodi ullam!
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 items-center gap-5">
    <img height="400"
         width="300"
         class="hidden md:block rounded-md w-full h-full"
         src="https://placehold.co/400x400"
         alt="">
    <div class="w-full">
      <ul class="timeline timeline-vertical timeline-compact">
        <li>
          <div class="timeline-start text-base-content font-medium">Inquire</div>
          <div class="timeline-middle">
            <span class="bg-primary/20 flex size-4.5 items-center justify-center rounded-full">
              <span class="badge badge-primary size-3 rounded-full p-0"></span>
            </span>
          </div>
          <div class="timeline-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo qui numquam voluptate deleniti dolor aspernatur eveniet distinctio harum ex, laudantium maiores?
          </div>
          <hr />
        </li>
        <li>
          <div class="timeline-start text-base-content font-medium">Quotation</div>
          <div class="timeline-middle">
            <span class="bg-primary/20 flex size-4.5 items-center justify-center rounded-full">
              <span class="badge badge-primary size-3 rounded-full p-0"></span>
            </span>
          </div>
          <div class="timeline-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo qui numquam voluptate deleniti dolor aspernatur eveniet distinctio harum ex, laudantium maiores?
          </div>
          <hr />
        </li>
        <li>
          <div class="timeline-start text-base-content font-medium">Payment</div>
          <div class="timeline-middle">
            <span class="bg-primary/20 flex size-4.5 items-center justify-center rounded-full">
              <span class="badge badge-primary size-3 rounded-full p-0"></span>
            </span>
          </div>
          <div class="timeline-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo qui numquam voluptate deleniti dolor aspernatur eveniet distinctio harum ex, laudantium maiores?
          </div>
          <hr />
        </li>
        <li>
          <div class="timeline-start text-base-content font-medium">Delivery</div>
          <div class="timeline-middle">
            <span class="bg-primary/20 flex size-4.5 items-center justify-center rounded-full">
              <span class="badge badge-primary size-3 rounded-full p-0"></span>
            </span>
          </div>
          <div class="timeline-end">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo qui numquam voluptate deleniti dolor aspernatur eveniet distinctio harum ex, laudantium maiores?
          </div>
          <hr />
        </li>
      </ul>
    </div>
  </div>
</section>
