{% extends "partials/base.html.jinja" %}
{% block body %}
  <main class="h-full flex flex-col justify-center items-center">
    <h1>Log In</h1>
    <span class="text-base-content/30">We’ll send you a link to reset your password.</span>
    {% include "partials/login/form.html.jinja" %}
  </main>
{% endblock body %}
