package layouts 

templ BaseHTML(
	head templ.Component,
) {
	<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" href="/assets/out.css"/>
			<link rel="stylesheet" href="/assets/index.css"/>
			<meta charset="utf-8"/>
			<link rel="icon" type="image/x-icon" href="/assets/etmar-logo.png"/>
			<script src="/assets/index.js" defer></script>
			@head
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
