package components

templ EmptySection() {
	<div class="h-full w-full flex flex-col justify-center items-center gap-2.5">
		<div data-lucide="ban" class="size-11"></div>
		<h4 class="heading-4">No Data</h4>
		<p class="muted">
			No data here yet. We will notify you when there's an update.
		</p>
	</div>
}
